.row
  .col-md-8.col-md-offset-2
    %h2.text-center
      Issues
  .col-md-2
.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-body
        - @issues.each do |issue|
          %br
          %br
          Id:
          = issue.id
          %br
          Title:
          = issue.title
          %br
          Body:
          = issue.body
          %br
          - issue.labels.each do |label|
            Label Name:
            = label.name
          %br
          -# = link_to 'Edit Issue', edit_issue_path(issue.number)
          -# = link_to 'Edit Issue', edit_issue_path(issue.id), number: issue.number
          -# = link_to "Add to cart", { controller: "issues", action: "edit", number: issue.number }
  .col-md-2
