.row
  .col-md-6.col-md-offset-3
    %h1.text-center
      New Issue
    .panel.panel-default
      .panel-body
        = form_tag issues_path, class: "form", id: 'issue-form', method: :post do
          = text_field_tag :title, nil, placeholder: "Title", class: "form-control"
          = text_area_tag :body, nil, rows: 5, placeholder: "User story...", class: "form-control"
          = hidden_field_tag :id, @project.id
          .radio
            %label
              %input.timer{checked: true, name: "timer_time", type: "radio", value: "5000" }
                5 seconds
          .radio
            %label
              %input.timer{ name: "timer_time", type: "radio", value: "25" }
                25 minutes
          .radio
            %label
              %input.timer{ name: "timer_time", type: "radio", value: "50" }
                50 minutes
          %button.btn.pull-right.btn-primary.issue-btn{:type => "submit"}
            Create Issue
