.dropdown-menu.issue-dropup-menu{"aria-labelledby" => "dropup-#{issue_number}" }
  .well
    %form
      .radio
        %label
          %input.timer{ checked: set_time(timer_time, 5000), name: "timer_time", type: "radio", value: "5000" }
          5 seconds
      .radio
        %label
          %input.timer.form{ checked: set_time(timer_time, 1500000), name: "timer_time", type: "radio", value: "1500000" }
          25 minutes
      .radio
        %label
          %input.timer.form{ checked: set_time(timer_time, 3000000), name: "timer_time", type: "radio", value: "3000000" }
          50 minutes
