.dropdown-menu.issue-dropup-menu{"aria-labelledby" => "dropup-#{issue_number}" }
  .well
    %form.label-check-boxes
      .radio
        %label
          %input.timer.form{ checked: set_time(timer_time, 5), name: "timer_time", type: "radio", value: "5" }
          5 seconds
      .radio
        %label
          %input.timer.form{ checked: set_time(timer_time, 300), name: "timer_time", type: "radio", value: "300" }
          5 minutes
      .radio
        %label
          %input.timer.form{ checked: set_time(timer_time, 1500), name: "timer_time", type: "radio", value: "1500" }
          25 minutes
      .radio
        %label
          %input.timer.form{ checked: set_time(timer_time, 600), name: "timer_time", type: "radio", value: "600" }
          10 minutes
      .radio
        %label
          %input.timer.form{ checked: set_time(timer_time, 3000), name: "timer_time", type: "radio", value: "3000" }
          50 minutes

