-# - issue.labels.each do |label|
-#   - unless statuses.include?(label.name) || times.include?(label.name)
-#     %div{ class: "btn btn-xs card-labels-#{label.name}", style: "background-color:\##{label.color};margin-top:10px" }
-#       = label.name


-# %div{ class: "btn btn-xs issue-labels-#{issue.number}", style: "background-color:\##{111};margin-top:10px" }
