.row
  .col-md-6.col-md-offset-3
    %h3.text-center
      Your Projects
    %ul.list-unstyled.pagination.project_list
      - @projects.each do |project|
        %li
          .panel.panel-body.added-project
            .row
              .col-md-10
                = link_to project.name, project_path(project), class: 'btn btn-default btn-large project-name-button'
              .col-md-2
                .pull-right
                  = link_to '-', project_path(project.name), method: :delete, class: "btn btn-default btn-small delete-#{project.name}-button"

