.row
  .col-md-6.col-md-offset-3
    %h3.text-center
      Your Repositories
    %ul.list-unstyled.pagination.project_list
      - @repos.each do |repo_name|
        %li
          - if added_to_projects(repo_name)
            .panel.panel-body.added-project
              .pull-left
                = repo_name
              .pull-right
                = link_to '-', project_path(repo_name), method: :delete, class: 'btn btn-default btn-small minus-button'
          -else
            .panel.panel-body
              .pull-left
                = repo_name
              .pull-right
                = link_to '+', {controller: "projects", action: "create", name: repo_name }, method: :post, class: 'btn btn-default btn-small'

