---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos?access_token=<github_test_token>
    body:
      encoding: UTF-8
      string: '{"name":"test_repo","homepage":"https://github.com","private":false,"has_issues":true,"has_wiki":true,"has_downloads":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <github_test_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1460743510'
      Etag:
      - '"b1055480dc29f0adcaf1dd22d35101e8"'
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - "<github_test_id>"
      Location:
      - https://api.github.com/repos/RickBacci/test_repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":56336789,"name":"test_repo","full_name":"RickBacci/test_repo","owner":{"login":"RickBacci","id":252278,"avatar_url":"https://avatars.githubusercontent.com/u/252278?v=3","gravatar_id":"","url":"https://api.github.com/users/RickBacci","html_url":"https://github.com/RickBacci","followers_url":"https://api.github.com/users/RickBacci/followers","following_url":"https://api.github.com/users/RickBacci/following{/other_user}","gists_url":"https://api.github.com/users/RickBacci/gists{/gist_id}","starred_url":"https://api.github.com/users/RickBacci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RickBacci/subscriptions","organizations_url":"https://api.github.com/users/RickBacci/orgs","repos_url":"https://api.github.com/users/RickBacci/repos","events_url":"https://api.github.com/users/RickBacci/events{/privacy}","received_events_url":"https://api.github.com/users/RickBacci/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/RickBacci/test_repo","description":null,"fork":false,"url":"https://api.github.com/repos/RickBacci/test_repo","forks_url":"https://api.github.com/repos/RickBacci/test_repo/forks","keys_url":"https://api.github.com/repos/RickBacci/test_repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/RickBacci/test_repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/RickBacci/test_repo/teams","hooks_url":"https://api.github.com/repos/RickBacci/test_repo/hooks","issue_events_url":"https://api.github.com/repos/RickBacci/test_repo/issues/events{/number}","events_url":"https://api.github.com/repos/RickBacci/test_repo/events","assignees_url":"https://api.github.com/repos/RickBacci/test_repo/assignees{/user}","branches_url":"https://api.github.com/repos/RickBacci/test_repo/branches{/branch}","tags_url":"https://api.github.com/repos/RickBacci/test_repo/tags","blobs_url":"https://api.github.com/repos/RickBacci/test_repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/RickBacci/test_repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/RickBacci/test_repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/RickBacci/test_repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/RickBacci/test_repo/statuses/{sha}","languages_url":"https://api.github.com/repos/RickBacci/test_repo/languages","stargazers_url":"https://api.github.com/repos/RickBacci/test_repo/stargazers","contributors_url":"https://api.github.com/repos/RickBacci/test_repo/contributors","subscribers_url":"https://api.github.com/repos/RickBacci/test_repo/subscribers","subscription_url":"https://api.github.com/repos/RickBacci/test_repo/subscription","commits_url":"https://api.github.com/repos/RickBacci/test_repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/RickBacci/test_repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/RickBacci/test_repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/RickBacci/test_repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/RickBacci/test_repo/contents/{+path}","compare_url":"https://api.github.com/repos/RickBacci/test_repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/RickBacci/test_repo/merges","archive_url":"https://api.github.com/repos/RickBacci/test_repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/RickBacci/test_repo/downloads","issues_url":"https://api.github.com/repos/RickBacci/test_repo/issues{/number}","pulls_url":"https://api.github.com/repos/RickBacci/test_repo/pulls{/number}","milestones_url":"https://api.github.com/repos/RickBacci/test_repo/milestones{/number}","notifications_url":"https://api.github.com/repos/RickBacci/test_repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/RickBacci/test_repo/labels{/name}","releases_url":"https://api.github.com/repos/RickBacci/test_repo/releases{/id}","deployments_url":"https://api.github.com/repos/RickBacci/test_repo/deployments","created_at":"2016-04-15T17:07:46Z","updated_at":"2016-04-15T17:07:46Z","pushed_at":"2016-04-15T17:07:46Z","git_url":"git://github.com/RickBacci/test_repo.git","ssh_url":"git@github.com:RickBacci/test_repo.git","clone_url":"https://github.com/RickBacci/test_repo.git","svn_url":"https://github.com/RickBacci/test_repo","homepage":"https://github.com","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Fri, 15 Apr 2016 17:07:46 GMT
- request:
    method: post
    uri: https://api.github.com/repos/RickBacci/test_repo/milestones?access_token=<github_test_token>
    body:
      encoding: UTF-8
      string: '{"title":"milestone","state":"open","description":"My new milestone","due_on":"2016-04-15T13:07:46.884-04:00"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <github_test_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4932'
      X-Ratelimit-Reset:
      - '1460743510'
      Etag:
      - '"ded17f0630bec643af516a223e3c140c"'
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<github_test_id>"
      Location:
      - https://api.github.com/repos/RickBacci/test_repo/milestones/1
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/RickBacci/test_repo/milestones/1","html_url":"https://github.com/RickBacci/test_repo/milestones/milestone","labels_url":"https://api.github.com/repos/RickBacci/test_repo/milestones/1/labels","id":1709416,"number":1,"title":"milestone","description":"My
        new milestone","creator":{"login":"RickBacci","id":252278,"avatar_url":"https://avatars.githubusercontent.com/u/252278?v=3","gravatar_id":"","url":"https://api.github.com/users/RickBacci","html_url":"https://github.com/RickBacci","followers_url":"https://api.github.com/users/RickBacci/followers","following_url":"https://api.github.com/users/RickBacci/following{/other_user}","gists_url":"https://api.github.com/users/RickBacci/gists{/gist_id}","starred_url":"https://api.github.com/users/RickBacci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RickBacci/subscriptions","organizations_url":"https://api.github.com/users/RickBacci/orgs","repos_url":"https://api.github.com/users/RickBacci/repos","events_url":"https://api.github.com/users/RickBacci/events{/privacy}","received_events_url":"https://api.github.com/users/RickBacci/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":0,"state":"open","created_at":"2016-04-15T17:07:47Z","updated_at":"2016-04-15T17:07:47Z","due_on":"2016-04-15T17:07:46Z","closed_at":null}'
  recorded_at: Fri, 15 Apr 2016 17:07:47 GMT
- request:
    method: get
    uri: https://api.github.com/users/RickBacci/repos?access_token=<github_test_token>&sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_test_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1460743510'
      Etag:
      - W/"a2f51dc41b17be09dd1147a343e65b0a"
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<github_test_id>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/252278/repos?access_token=<github_test_token>&sort=updated&page=2>;
        rel="next", <https://api.github.com/user/252278/repos?access_token=<github_test_token>&sort=updated&page=4>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":56336789,"name":"test_repo","full_name":"RickBacci/test_repo","owner":{"login":"RickBacci","id":252278,"avatar_url":"https://avatars.githubusercontent.com/u/252278?v=3","gravatar_id":"","url":"https:[...]
- request:
    method: get
    uri: https://api.github.com/user/252278/repos?access_token=<github_test_token>&page=2&per_page=30&sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_test_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/RickBacci/test_repo/labels?access_token=<github_test_token>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_test_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1460743510'
      Etag:
      - W/"58e53b58bd233d700f98aa379b5c514c"
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - "<github_test_id>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/RickBacci/test_repo/labels/bug","name":"bug","color":"ee0701"},{"url":"https://api.github.com/repos/RickBacci/test_repo/labels/duplicate","name":"duplicate","color":"cccccc"},{"url":"https://api.github.com/repos/RickBacci/test_repo/labels/enhancement","name":"enhancement","color":"84b6eb"},{"url":"https://api.github.com/repos/RickBacci/test_repo/labels/help%20wanted","name":"help
        wanted","color":"128A0C"},{"url":"https://api.github.com/repos/RickBacci/test_repo/labels/invalid","name":"invalid","color":"e6e6e6"},{"url":"https://api.github.com/repos/RickBacci/test_repo/labels/question","name":"question","color":"cc317c"},{"url":"https://api.github.com/repos/RickBacci/test_repo/labels/wontfix","name":"wontfix","color":"ffffff"}]'
  recorded_at: Fri, 15 Apr 2016 17:07:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/RickBacci/test_repo/issues?access_token=<github_test_token>&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_test_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1460743510'
      Etag:
      - '"aa7bde845662b57645a53c6d82aafe5f"'
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - "<github_test_id>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 15 Apr 2016 17:07:49 GMT
[...]
