/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'flipclock';
@import 'spinner';
@import 'animate';


$gray1: #A1949A;
$primary-color: #333;

.card-labels {
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

#dropdown-repos-menu {
  left: 9%;
  min-width: 82%;
  padding: 0px;
  margin: 0px;
}

.text-white {
  color: white;
}

html, body {
  height: 100%;
  background-color: black;
  background: url(image-path('6a01287.jpg'));
  background-size: cover;
  -moz-background-size: cover;
  background-repeat:no-repeat;
  padding-top: 20px;
}

//////////---------- Status Columns


.column-border {
  background-color: grey;

  box-sizing: border-box;

  border: 3px ridge #333333;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  -moz-box-sizing: border-box;

  border-right: 2px solid black;
  border-left: 2px solid black;
}

.row.no-gutters {
  margin-right: 1%;
  margin-left: 1%;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 1%;
    padding-left: 1%;
  }
}

div.row.no-gutters {
  border-color: $gray1;
}

//////////---------- Status Columns End

//////////---------- Timer

.timer {
  margin-right: auto;
  margin-left: auto;
  width: 15%;
}

.timer-graphic {
  zoom: 0.25;
  -moz-transform: scale(0.25)
}

//////////---------- Timer End

//////////---------- New Issue

.new-issue-labels {
  padding-left: 5%;
  text-align: left;
  vertical-align: sub;
  width: 100%;
  margin-bottom: 3px;
}

.max-width {
  width: 100%;
}

//////////---------- New Issue End

//////////---------- Repo Index

.repo-btn {
  width: 100%;
}

.repo-choice {
  width: 100%;
  max-width: 34px;
  min-width: 34px;
}

.head {
  padding-bottom: 17px;
}

.focus {
  outline: none;
  border-color: #A9A9A9;
  box-shadow: 0 0 10px #9ecaed;
}
.btn:hover {
  background-color: #9ecaed;

}

.color-blue {
  background-color: #9ecaed;
}

//////////---------- Repo Index End

//////////---------- Issue Card

.panel-heading {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cards {
  box-sizing: border-box;
  border: 3px ridge #333333;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-box-sizing: border-box;
  min-height: 24em;
}

.panel-body {
  padding: 3%;
}

.card-panel {
  background-color: #EEEEEE;
}

.issue-card-body {
  padding: 3%;
  margin-bottom: 0%;
}

#title {
  margin-bottom: 3%;
}

.label-box-dropdown {
  width: 90%;
  height: 25px;
  margin-left: 5%;
  text-align: left;
  vertical-align: sub;
}

textarea[name=title], textarea[name=body] {
  resize: none;
}

textarea.noscrollbars {
  overflow: hidden;
}

//////////---------- Issue Card End

