/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'flipclock';
@import 'spinner';


$gray1: #A1949A;
$primary-color: #333;


.slategray, #new-projects {
  background-color: $gray1;
}

.text-white {
  color: white;
}

body {
  background-color: black;
  background: url(image-path('6a01287.jpg'));
  background-size: cover;
  -moz-background-size: cover;
  background-repeat:no-repeat;
}

//////////---------- Status Columns

.column-border {
  box-sizing: border-box;

  border: 5px ridge #333333;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  -moz-box-sizing: border-box;

  border: 1px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;

  background-color: grey;
}

.border-gutters {
  border-left: 1% solid transparent;
  border-right: 1% solid transparent;
}

.col {
  flex: 1;
}

.row {
  display: flex;
}

.row.no-gutters {
  margin-right: 1%;
  margin-left: 1%;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 1%;
    padding-left: 1%;
  }
}


div.row.no-gutters {
  border-color: $gray1;
}


//////////---------- Status Columns End

//////////---------- Padding

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-left {
  padding-left: 15px;
}

//////////---------- Padding End


//////////---------- Centering

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

//////////---------- Centering End


//////////---------- Timer

.timer {
  margin-right: auto;
  margin-left: auto;
  width: 15%;
}

.timer-check-boxes {
  padding-left: 30%;
}

.timer-box-dropdown {
  padding-left: 30%;
}

//////////---------- Timer End


//////////---------- New Issue

.new_issue_label_box {
  margin-left: 2%;
  width: fit-content;
  padding-left: 6%;
  vertical-align: sub;
}

.label-check-boxes {
  padding: 2%;
}

.new_issue_timer_radio_buttons {
  margin-left: 40px;
}

//////////---------- New Issue End


//////////---------- Project Index

.project_list {
  width: 100%;
}

.added-project {
  background-color: slategrey;
}

.minus-button {
  padding: 6px 14px;
  width: 100%;
}

.project-name-button {
  width: 100%;
}

//////////---------- Project Index End


//////////---------- Issue Card

.cards {
  box-sizing: border-box;
  border: 2px ridge #333333;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-box-sizing: border-box;
}

.label-btn {
  margin-top: 17%;
  margin-right: 0%;
}

.issue-btn {
  margin-top: 4%;
  margin-bottom: 4%;
}

textarea[name=title], textarea[name=body] {
  resize: none;
}

textarea.noscrollbars {
  overflow: hidden;
}

.issue-labels-dropdown-menu {
  min-width: 19em;
  left: -15%;
}

.label-box-dropdown {
  width: 45%;
  padding-left: 10%;
  margin-left: 3%;
  text-align: left;
  vertical-align: sub;
}

.issue-times-dropdown-menu {
  padding: 10%;
  margin-bottom: 1%;
}


.panel-heading {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card {
  padding: 4%;

.update-issue-btn {
  margin-top: -30%;
}

.form.form-control {
  margin: 2%;
}

.well.card {
  margin-bottom: 10px;
  margin-bottom: 0%;
  padding-bottom: 8%;
}

#title {
  margin-bottom: 10px;
.update-timer-btn {
  margin-top: 10%;
  margin-right: -4%;
}

//////////---------- Issue Card End

